{% extends 'mainapp/base.html' %}
{% block title %}Test{% endblock %}
{% block content %}
{% load staticfiles %}



<div class = "row">
    <div class="col-xs-4">
{{user.username}} <audio id="audioPlayer" src=""></audio>
    </div>
    
    <div  class="col-xs-4">
        <img id ="sound" src="{% static 'mainapp/png/sound.png' %}">
    </div>
    
    <div  class="col-xs-4">
        <img id="stats" src="{% static 'mainapp/png/stats.png' %}" onclick="document.location.href='/statistics/'"/>        
    </div>
</div>


{% if goingPn.user == request.user %}
<div class = "row">
    <div id="" class="col-xs-12">
        <img id="greenButton" src="{% static 'mainapp/png/greenOk.png' %}" />
    </div>     
</div>
<div class = "row">
    <div id="goingMessage" class="col-xs-12">
    {% if goingPn.linkedToPn %}
        Vous répondez à {{goingPn.linkedToPn.user.username}} sur l'intervention {{goingPn.linkedToPn.id}}
    {% else %}
        Nouvelle participation    
    {% endif %}
    </div>     
</div>

{% elif goingPn %}
<div class = "row">
    <div id="goingMessage" class="col-xs-12">
    {% if goingPn.linkedToPn %}
        {{goingPn.user.username}} répond à {{goingPn.linkedToPn.user.username}}
    {% else %}
        Nouvelle participation de {{goingPn.user.username}} 
    {% endif %}
    </div>     
</div>

{% else %}

<div class = "row">
    <div id="goingMessage" class="col-xs-12">
    Pas de demande de parole
    </div>     
</div>

{% endif %}

Il y a {{allWaitingCount}} demande(s) de prise de parole

<div class="table-responsive">
  <table class="table">
  
    {% if nextPn %}
  
    <tr id ="nextRow">
        <td id="{{nextPn.id}}" class="pnId">{{nextPn.id}}{% if nextPn.linkedToPn %} ({{nextPn.linkedToPn.id}}){% endif %}</td>
        <td class="username">{{nextPn.user.username}}</td>
        <td class="duration" >Prochaine</td>
        <td class="waiting"></td>
        <td class="audio" hidden></td>
    </tr>
    
    {% endif %}
    
    {% if goingPn %}
    
    <tr id="currentRow">
        <td id="{{goingPn.id}}" class="pnId">{{goingPn.id}}{% if goingPn.linkedToPn %} ({{goingPn.linkedToPn.id}}){% endif %}</td>
        <td class="username">{{goingPn.user.username}}</td>
        <td class="duration">En cours</td>
        <td class="waiting">{% if goingPn.wtPnType %}<img class="smallAnswer" src="{% static 'mainapp/png/smallAnswerGrey.png' %}">{%endif%}</td>
        <td class="audio" hidden></td>
    </tr>
    
    {% endif %}
    
    {% for pn in oldPns %}
    <tr class="previousRows">
        <td id="{{pn.id}}" class="pnId">{{pn.id}}{% if pn.linkedToPn %} ({{pn.linkedToPn.id}}){% endif %}</td>
        <td class="username">{{pn.user.username}}</td>
        <td class="duration">{{pn.minutes|floatformat:"0"}}:{{pn.seconds|stringformat:"02d"}}</td>
        <td class="waiting">{% if pn.wtPnType %}<img class="smallAnswer" src="{% static 'mainapp/png/smallAnswerGrey.png' %}">{%endif%}</td>
        <td class="audio" hidden>{{pn.soundFile}}</td>
    </tr>    
    {% endfor %}
    
  </table>
</div>




<div id="buttonsFooter">

    <div class="buts" id="answerBut">
        <img class="butImg" src="{% static 'mainapp/png/answerBut.png' %}">
    </div>
<!--    <div class="buts" id="secondBut">
        <img class="butImg" src="{% static 'mainapp/png/secondBut.png' %}">
    </div> -->
    
   
    
    <div class="buts" id="loveBut">
        <img class="butImg" src="{% static 'mainapp/png/loveBut.png' %}">
    </div>
    
    <div class="buts" id="newBut">
        <img class="butImg" src="{% static 'mainapp/png/newBut.png' %}">
    </div>     

</div>



<script>

    {% if newPn %}
        $("#newBut").css('background-color','grey');
    {% endif %}

    $("#answerBut,#loveBut").css('background-color','darkblue');
    
    
    var $selectedtr;

    $('tr').click(function(){
    
           $('#answerBut').css('background-color','black');
           $('tr').css('background-color','');
           $('tr').css('color','black');
           $(this).css('background-color','black');
           $(this).css('color','white');
           $selectedtr = $(this);
           
           $waiting = $(this).find(".waiting").eq(0).html();

           if ($waiting != null && $waiting != '' ){
                $('#answerBut').css('background-color','grey');
           } 
           
           $user = $(this).find(".username").eq(0).text();
           $status = $(this).find('.duration').eq(0).text();

           
           if ($user == '{{user.username}}' || $status == 'Prochaine' ) {
                $('#answerBut').css('background-color','darkblue');
           };
           
    })
    
    $('#answerBut').click(function(){
        if($selectedtr){
    
            $id = $selectedtr.find('.pnId').eq(0).attr('id')
            $user = $selectedtr.find(".username").eq(0).text();
            $status = $selectedtr.find('.duration').eq(0).text();
            
            if ($user != '{{user.username}}' && $status != 'Prochaine') { 
            
                $.post('/butHandler/',
                    {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'id': $id,
                        'type': '0'
                    }, 
                    function(data) {
                        location.reload();
                    });
            }
        }
    })    


/*    $('#secondBut').click(function(){
    
        $id = $selectedtr.find('.pnId').eq(0).text();
        $user = $selectedtr.find(".username").eq(0).text();
        
        if ($user != '{{user.username}}') {         
            $.post('/butHandler/',
                {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'id': $id,
                    'type': '1'
                }, 
                function(data) {
                    location.reload();
                }); 
        }   
    })   */
    
    $('#newBut').click(function(){
    
        $.post('/newHandler/',
            {
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            }, 
            function(data) {
                location.reload();
            });   
    
    })  

    $('#greenButton').click(function(){
        $.post('/nextHandler/',
            {
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            }, 
            function(data) {
                location.reload();
            });     
        
    });
    
    $('#sound').click(function(){
        $audioPlayer = document.getElementById("audioPlayer");
        
        
        if($audioPlayer.paused){     
            $sf = 'http://localhost:8000/media/'+$selectedtr.find('.audio').eq(0).text();                     
            $("#audioPlayer").attr("src", $sf );
            $audioPlayer.play();
        } else {
            $audioPlayer.pause();
        }
        
    });    
    
</script>

<script>
// Note that the path doesn't matter right now; any WebSocket
// connection gets bumped over to WebSocket consumers
socket = new WebSocket("ws://" + window.location.host + "/chat/");

socket.onmessage = function(e) {

    if (e.data == "YALA") {  
        location.reload();
    }
}
socket.onopen = function() {
    socket.send("hello!!!");
}
// Call onopen directly if socket is already open
if (socket.readyState == WebSocket.OPEN) socket.onopen();
</script>

{% endblock %}