{% extends 'mainapp/base.html' %}
{% block title %}Test{% endblock %}
{% block content %}
{% load staticfiles %}
<div class = "row">
    <div class="col-xs-12">
        <div id="topzone" class = "row">
            
            <div id="waitingCount">{{allWaitingCount}}</div>
            <img id="stats" src="{% static 'mainapp/png/stats.png' %}" onclick="document.location.href='/statistics/{{iddebate}}'"/>        

            <!-- <div class="col-xs-4"> -->
        <!-- {{user.username}} <audio id="audioPlayer" src=""></audio> -->
            <!-- </div> -->
            
            <!-- <div  class="col-xs-4"> -->
                <!-- <img id ="sound" src="{% static 'mainapp/png/sound.png' %}"> -->
            <!-- </div> -->
            

            <!-- {% if goingPn.user == request.user %} -->

            <!-- <img id="greenButton" src="{% static 'mainapp/png/greenOk.png' %}" /> -->

            <!-- {% endif %} -->
            

            <div id="goingMessage">
            
            {% if goingPn.user == request.user %}
            
                {% if goingPn.linkedToPn %}
                    Réponse à {{goingPn.linkedToPn.user.username}} sur {{goingPn.linkedToPn.id}}
                {% else %}
                    Nouvelle participation   
                {% endif %}
                ({{goingPn.id}})
                
                <img id="greenButton" src="{% static 'mainapp/png/greenOk.png' %}" />
                
            {% elif goingPn %}   
            
                {% if goingPn.linkedToPn %}
                    {{goingPn.user.username}} répond à {{goingPn.linkedToPn.user.username}}
                {% else %}
                    Nouvelle participation de {{goingPn.user.username}}
                {% endif %}  
                ({{goingPn.id}})
                
            {% else %}

                Pas de demande de parole
              
            {% endif %}
                
            </div>     

        </div>
            
    </div>
</div>    
    
<div id="tablezone" class="table-responsive">
  <table class="table">
  
    {% if nextPn %}
  
    <tr id ="nextRow">
        <td id="{{nextPn.id}}" class="pnId">{{nextPn.id}}{% if nextPn.linkedToPn %} ({{nextPn.linkedToPn.id}}){% endif %}</td>
        <td class="username">{{nextPn.user.username}}</td>
        <td class="duration" >Prochaine</td>
        <td class="waiting"></td>
        <td class="loving"></td>
        <td class="audio" hidden></td>
    </tr>
    
    {% endif %}
    
    {% if goingPn %}
    
    <tr id="currentRow">
        <td id="{{goingPn.id}}" class="pnId">{{goingPn.id}}{% if goingPn.linkedToPn %} ({{goingPn.linkedToPn.id}}){% endif %}</td>
        <td class="username">{{goingPn.user.username}}</td>
        <td class="duration">En cours</td>
        <td class="waiting">{% if goingPn.wtPnType %}<img class="smallAnswer" src="{% static 'mainapp/png/smallAnswerGrey.png' %}">{%endif%}</td>
        <td class="loving">{% if goingPn.apcMark %}<img class="smallAnswer" src="{% static 'mainapp/png/hearthGrey.png' %}">{%endif%}</td>
        <td class="audio" hidden></td>
    </tr>
    
    {% endif %}
    
    {% for pn in oldPns %}
    <tr class="previousRows">
        <td id="{{pn.id}}" class="pnId">{{pn.id}}{% if pn.linkedToPn %} ({{pn.linkedToPn.id}}){% endif %}</td>
        <td class="username">{{pn.user.username}}</td>
        <td class="duration">{{pn.minutes|floatformat:"0"}}:{{pn.seconds|stringformat:"02d"}}</td>
        <td class="waiting">{% if pn.wtPnType %}<img class="smallAnswer" src="{% static 'mainapp/png/smallAnswerGrey.png' %}">{%endif%}</td>
        <td class="loving">{% if pn.apcMark %}<img class="smallAnswer" src="{% static 'mainapp/png/hearthGrey.png' %}">{%endif%}</td>
        <td class="audio" hidden>{{pn.soundFile}}</td>
    </tr>    
    {% endfor %}
    
  </table>
</div>

<div id="buttonsFooter">

    <div class="buts" id="answerBut">
        <img class="butImg" src="{% static 'mainapp/png/answerBut.png' %}">
    </div>
<!--    <div class="buts" id="secondBut">
        <img class="butImg" src="{% static 'mainapp/png/secondBut.png' %}">
    </div> -->
    
    
    <div class="buts" id="loveBut">
        <img class="butImg" src="{% static 'mainapp/png/loveBut.png' %}">
    </div>
    
    <div class="buts" id="newBut">
        <img class="butImg" src="{% static 'mainapp/png/newBut.png' %}">
    </div>     

</div>

<script>

    {% if newPn %}
        $("#newBut").css('background-color','grey');
    {% endif %}


    var $selectedtr;

    {% if goingPn.user == request.user %} 
        $(".buts").hide();
    {% elif goingPn %}   
        $selectedtr = $("#currentRow");   
        $("#answerBut, #loveBut").css('background-color','#724321');
    {% else %}
        $("#answerBut, #loveBut").hide();        
    {% endif %}
    
    
    try {
           $waiting = $selectedtr.find(".waiting").eq(0).html();
            if ($waiting != null && $waiting != '' ){
                $('#answerBut').css('background-color','grey');
            }     
            $loving = $selectedtr.find(".loving").eq(0).html();
            if ($loving != null && $loving != '' ){
                $('#loveBut').css('background-color','grey');
            } 
    }
    catch (e) {
        console.log('whatever')
    }
    
     
    
    //Quand on clique sur une ligne
    $('tr').click(function(){
    
    
       //Selection de la ligne et coloration des lignes
       $('tr').css('background-color','');
       $('tr').css('color','black');
       $(this).css('background-color','black');
       $(this).css('color','white');
       $selectedtr = $(this);


       //Si la participation sélectionnée appartient à l'user, ou si c'est 'prochaine', on cache certains boutons
       $user = $(this).find(".username").eq(0).text();
       $status = $(this).find('.duration').eq(0).text();
   
       if ($user == '{{user.username}}' || $status == 'Prochaine' ) {
            $('#answerBut, #loveBut').hide();
       } else {
            $('#answerBut, #loveBut').show();
            $('#answerBut, #loveBut').css('background-color','black');
       };

       //Si une waiting (demande de réponse) est deja faite, alors on grise le bouton answer
       $waiting = $(this).find(".waiting").eq(0).html();
       if ($waiting != null && $waiting != '' ){
            $('#answerBut').css('background-color','grey');
       } 

       //Si un love est deja fait, alors on grise le bouton love
       $loving = $(this).find(".loving").eq(0).html();
       if ($loving != null && $loving != '' ){
            $('#loveBut').css('background-color','grey');
       }         
           
    })
      
    //Quand on clique sur le bouton réponse
    $('#answerBut').click(function(){
        if($selectedtr){
    
            $id = $selectedtr.find('.pnId').eq(0).attr('id')
            $user = $selectedtr.find(".username").eq(0).text();
            $status = $selectedtr.find('.duration').eq(0).text();
            
            if ($user != '{{user.username}}' && $status != 'Prochaine') { 
            
                $.post('/butHandler/',
                    {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'id': $id,
                        'type': '0'
                    }, 
                    function(data) {
                        location.reload();
                    });
            }
        }
    })    

    //Quand on clique sur le love
    $('#loveBut').click(function(){
        if($selectedtr){
            $id = $selectedtr.find('.pnId').eq(0).attr('id');
            $user = $selectedtr.find(".username").eq(0).text();
            $status = $selectedtr.find('.duration').eq(0).text();
            
            if ($user != '{{user.username}}' && $status != 'Prochaine') { 
            
                $.post('/loveHandler/',
                    {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'id': $id,
                        'type': '1'
                    }, 
                    function(data) {
                        location.reload();
                    }); 
            }
        }
    })   
    
    //Quand on clique sur nouvelle pn
    $('#newBut').click(function(){
    
        $.post('/newHandler/',
            {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'iddebate' : {{iddebate}}
            }, 
            function(data) {
                location.reload();
            });   
    
    })  

    //Quand on clique sur le gros bouton vert
    $('#greenButton').click(function(){
        $.post('/nextHandler/',
            {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'iddebate': {{iddebate}}
            }, 
            function(data) {
                location.reload();
            });     
        
    });
    
    //Not used
    $('#sound').click(function(){
        $audioPlayer = document.getElementById("audioPlayer");
        
        
        if($audioPlayer.paused){     
            $sf = 'http://localhost:8000/media/'+$selectedtr.find('.audio').eq(0).text();                     
            $("#audioPlayer").attr("src", $sf );
            $audioPlayer.play();
        } else {
            $audioPlayer.pause();
        }
        
    });    
    
</script>

<script>
// Note that the path doesn't matter right now; any WebSocket
// connection gets bumped over to WebSocket consumers
socket = new WebSocket("ws://" + window.location.host + "/chat/");

socket.onmessage = function(e) {

    if (e.data == "YALA") {  
        location.reload();
    }
}
socket.onopen = function() {
    socket.send("hello!!!");
}
// Call onopen directly if socket is already open
if (socket.readyState == WebSocket.OPEN) socket.onopen();
</script>

{% endblock %}