{% extends 'mainapp/base.html' %}
{% block title %}Test{% endblock %}
{% block content %}
{% load staticfiles %}

<audio controls id="audioPlayer"><source></audio>

<div id="filtersContainer" class = "row">
    <div id="totalTime" class="col-xs-12">
        <div>
            Retour sur le débat "{{debate.theme}}" - Temps total : {{minutes|floatformat:"0"}}:{{seconds|stringformat:"02d"}}
        </div>
        <div>
            <!-- <audio controls id="audioPlayer" src=""></audio> -->
            
        </div>
        
    </div>
</div>

<div id="" class = "row">
    <div class="col-xs-6">
        <div class = "row">
            <div class="col-xs-12">
                Les participations :
            </div>
        </div>
    
      {% for pn in pns %}
        <div id="{{pn.id}}" linkedToPn="{{pn.linkedToPn.id}}" class = "row pnrow">           
           <div class="col-xs-12">
            {{forloop.counter}}. {{pn.user.username}} ({{pn.minutes|floatformat:"0"}}:{{pn.seconds|stringformat:"02d"}}) - <img class="soundLogo" src="{% static 'mainapp/png/sound.png' %}" id="/media/{{pn.soundFile}}" />
           </div>         
        </div>        
      {% endfor %}
    </div>
    
    <div class="col-xs-6">
        <div class = "row">
            <div class="col-xs-12">
                Cette participation répond à :
            </div>
        </div>
        <div id="answersTo" class = "row">
        </div>
        
        <div class = "row">
            <div class="col-xs-12">
                Les réponses suivantes ont été données :
            </div>
        </div>        
        
        <div id="answeredBy" class = "row">
           
        </div>        
        
    
    </div>    
    
</div>


<div class = "row">
    <div id="totalTime" class="col-xs-12">
        <div id="chart_div" style="width: 100%;"></div>
    </div>
</div>

<script>

    var player = document.querySelector('#audioPlayer');

    $(document).on('click','.soundLogo',function(event){
        $("#audioPlayer").attr("src", $(this).attr('id'));
        player.play();
    });
    
    $('.pnrow').click(function(event){
        console.log($(this).attr('id'));
        console.log($(this).attr('linkedToPn'));
        
        //Colors
        $('.pnrow').css('background-color','');
        $(this).css('background-color','red');
              
        //AnswersTo           
        $("#answersTo").html("");
        $("#"+$(this).attr('linkedToPn') ).css('background-color','orange');
        $("#answersTo").html( $("#"+$(this).attr('linkedToPn') ).html() ) ;
        
        //AnsweredBy
        $("#answeredBy").html("");       
        $id = $(this).attr('id');
        $('.pnrow').filter(function( index ) {
            return $(this).attr('linkedToPn') === $id
        }).each(function () {
            $("#answeredBy").append($(this).html());
            $(this).css('background-color','yellow');
        });       
        
    });    
    
</script>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart', 'bar']});
  google.charts.setOnLoadCallback(drawVisualization);


  function drawVisualization() {
    // Some raw data (not necessarily accurate)
    var data = google.visualization.arrayToDataTable([
     ['Participant', 'Temps', 'Moyenne'],
     
     {% for user in users %}
        ['{{user.username}}',  {{user.timePC}}*100,    {{theoricTimePC}}*100],
     {% endfor %}

  ]);

var options = {
  chartArea: {width: '70%'},
  hAxis: {title: '% Temps de parole'},
  seriesType: 'bars',
  series: {1: {type: 'line'}}
};

var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
chart.draw(data, options);
}
</script>

{% endblock %}