{% extends 'mainapp/base.html' %}
{% block title %}Test{% endblock %}
{% block content %}
{% load staticfiles %}
<div class="row">
  <div class="col-md-12">
    test page
  </div>
</div>

<script>
// Note that the path doesn't matter right now; any WebSocket
// connection gets bumped over to WebSocket consumers
socket = new WebSocket("ws://" + window.location.host + "/chat/");

socket.onmessage = function(e) {

    if (e.data == "YALA") {  
        location.reload();
    }
}
socket.onopen = function() {
    socket.send("hello!!!");
}
// Call onopen directly if socket is already open
if (socket.readyState == WebSocket.OPEN) socket.onopen();
</script>

{% endblock %}