:root {
  --color1: #945927;
  --color2: #EFE3CC;
  --color3: #724321;
  --color4: brown;
  --color5: brown;
}

body{
    padding-bottom:100px;
}

#newtRow{

}

#currentRow{

}

.previousRows{

}

#greenButton{
    width:40%;
    margin-left: auto;
    margin-right: auto;    
    display:block;
}

#greenButton:active{
    opacity:0.4 !important;
}

#buttonsFooter{
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    height:20%;
    background-color:grey;
}

.buts{
    position:absolute;
    height:99%;
    bottom:0px;
    width:33%;
    background-color:var(--color3);  
}

.buts:active{
    opacity:0.4 !important;
}

#answerBut{
    left:0px;
}
#secondBut{
    left:33.5%;
}
#loveBut{
    left:33.5%;
}

#newBut{
    left:67.5%;    
}

.butImg{
    max-width:90%;
    max-height:90%;
    margin-left: auto;
    margin-right: auto;    
    display:block;
    vertical-align: middle;
}

#chart_div{
    width:100%;
}

.smallAnswer{
    height:20px;
}

#goingMessage{
    position: absolute;
    color:var(--color2);
    font-size:30px;
    text-align:center;
    top:10%;
    width:70%;
    left:15%;
}

#stats{
    position:absolute;
    height:50px;
    top : 10px;
    right:10px;
}

#waitingCount{
    position:absolute;
    height:50px;
    bottom :0px;
    right:10px;
    color:var(--color2);
    font-size:20px
}

#stats:active{
    opacity:0.4 !important;
}

#sound{
    text-align:center;
    height:50px;
    width:50px;
    margin-left: auto;
    margin-right: auto;
}

#topzone{
    position:fixed;
    background-color:var(--color3);
    width:100%;
    height:40%;
    top:0px;
    overflow-y:auto;
}

#tablezone{
    position:fixed;
    background-color:var(--color2);
    width:100%;
    height:40%;
    top:40%;
    left:0px;
    overflow-y:auto;
}

#currentRow * {
    font-weight:bold !important;
}

.debatesTitle{
    font-weight:bold;
    margin:10px 0 10px 0;
}

.debateRow{
    padding:10px 0 10px 0;
    margin:3px 0 3px 0;
    background-color:var(--color2);
    text-align:center;
}

.soundLogo{
    height:15px;
    width:15px;
}

#answersTo{
    background-color:orange;
}

#answeredBy{
    background-color:yellow;
}

#audioPlayer{
    position:fixed;
    bottom:0px;
    left:0px;
}

#filtersContainer{
    margin:10px 0px 10px 0px;
}

.pnrow{
    cursor: pointer;
}