body{
    padding-bottom:100px;
}

#newtRow{

}

#currentRow{

}

.previousRows{

}

#greenButton{
    width:40%;
    margin-left: auto;
    margin-right: auto;    
    display:block;
}

#buttonsFooter{
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    height:100px;
    background-color:grey;
}

.buts{
    position:absolute;
    height:99%;
    bottom:0px;
    width:33%;
    background-color:black;  
}

#answerBut{
    left:0px;
}
#secondBut{
    left:33.5%;
}
#loveBut{
    left:33.5%;
}

#newBut{
    left:67.5%;    
}

.butImg{
    max-width:90%;
    max-height:90%;
    margin-left: auto;
    margin-right: auto;    
    display:block;
    vertical-align: middle;
}

#chart_div{
    width:100%;
}

.smallAnswer{
    height:20px;
}

#goingMessage{
    color:rgb(122,201,67);
    font-size:30px;
    text-align:center;
    margin: 10px 0px 10px 0px
}

#stats{
    float:right;
    height:50px;
}

#sound{
    text-align:center;
    height:50px;
    width:50px;
    margin-left: auto;
    margin-right: auto;
}